.footer {
    background-color: $secondary-200;
    color: $primary;
    padding: 50px 0;
    margin-top: auto;

    &-wrapper {
        display: flex;
        justify-content: space-between;

        @include breakpoint-down(767) {
            flex-direction: column;
            gap: 30px;
        }
    }

    &-intro {
        @include breakpoint-down(767) {
            width: 90%;
            align-self: center;
        }

        @include breakpoint-down(576) {
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        &-title {
            font-size: map-get($font-size , 4);
            margin-bottom: 1rem;
        }

        width: 66%;
        display: flex;

        &-about {
            width: 50%;

            @include breakpoint-down(576) {
                width: 80%;
            }

            @include breakpoint-down(425) {
                width: 100%;
            }
        }

        &-contact {
            width: 50%;
            margin-left: 1.25rem;

            @include breakpoint-down(576) {
                width: 80%;
                margin-left: 0;
            }

            @include breakpoint-down(425) {
                width: 100%;
            }

            &-list {
                padding-left: 0;
                list-style: disc inside;

                &::marker {
                    color: $primary;
                }
            }

        }
    }

    &-logo {
        &-list {
            display: flex;
            justify-content: end;
            gap: 12px;
            margin-top: 22px;
        }

        & .logo {
            margin-left: auto;
        }

        &-link {
            font-size: 31px;
            overflow: hidden;
            max-height: 31px;

            &>span {
                text-indent: -9999px;
                display: block;
            }
        }
    }
}