.login {
    &-form {
        width: 31.914893617%;
        margin: 0 auto;

        @include breakpoint-down(1024) {
            width: 40%;
        }

        @include breakpoint-down(768) {
            width: 55%;
        }

        @include breakpoint-down(576) {
            width: 80%;
        }

        @include breakpoint-down(425) {
            width: 100%;
        }

        @include breakpoint-down(375) {
            width: 100%;
        }

        &-title {
            text-align: center;
            margin-bottom: 1rem;
            font-size: map-get($font-size , 6);
        }
    }

    &-button-group {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        &>.btn {
            margin-top: 15px;
        }
    }

}