.register,.login{
    padding-top: 50px;
    padding-bottom: 50px;
}


.register {
    &-line-break {
        margin-bottom: 5px;
    }

    &-title {
        font-size: map-get($font-size , 2);
        text-align: center;
        color: $primary;
        margin-bottom: 35px;

        &>span {
            font-size: map-get($font-size , 5);
            margin-top: 5px;
            display: block;
        }
    }

    &-form {
        width: 60.546%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include breakpoint-down(768) {
            width: 80%;
        }
        @include breakpoint-down(425) {
            width: 100%;
        }

        &-title {
            text-align: center;
            margin-bottom: 1rem;
            width: 100%;
            font-size: map-get($font-size , 6);
        }
    }
    &-clause,&-text{
        width: 48.30508%;
        @include breakpoint-down(576) {
            width: 100%;
        }
    }
    &-clause {
        font-size: map-get($font-size , 6);
        @include breakpoint-down(576) {
            margin-bottom: 15px;
        }
    }

    &-text {
        margin-bottom: 15px;
    }
    &-button{
        margin-left: auto;
    }
}

